@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);    
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.header-image {
    height: 72px;
}


.nav-list{
    list-style-type: none;
    display: flex;
    gap: 2em;
}

.nav-list-item {
    display: inline-block;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.nav-list-item > a {
    color: #FFF2E7;
}

.main {
    border-top: 0.4px solid #FFF2E7;
    margin-bottom: 48px;
}

.main-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.main-content-info {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.main-content-info-title {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    color: #FFF2E7;
}

.main-content-info-subtitle {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #FFF2E7;
}

.main-content-info-button {
    background-color: #ECD6C4;
    max-width: 150px;
    width: 100%;
    padding: 12px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #2F2325;
}

.main-content-info-button:hover {
    background-color: rgba(236, 214, 196, .53);
    cursor: pointer;
}

.main-content-info-image {
    height: 430px;
}

.secondary-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.secondary-content-header {
    border-top: 0.4px solid #FFF2E7;
    padding-top: 48px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    color: #FFF2E7;
    margin-bottom: 1em;
}

.actions-list {
    list-style-position: inside;
    text-align: center;
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #ECD6C4;
}

.footer {
    border-top: 0.4px solid #FFF2E7;
    padding: 2em;    
}

.footer-image {
    display: block;
    margin: 0 auto;
    height: 48px;
}